<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary"  style="  margin-top: -22px">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><span style="font-size: 50px;">Nza</span><span style="color: blue; font-size: 50px;">Del</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
    <div style="background: rgb(233, 235, 229); padding: 12%;">
        <p><h2 style="margin-right: 20%; margin-left: 35%;">Let us know your place right now </h2></p>
        <form style="margin-right: 20%; margin-left: 35%; margin-top: 3%;" method="post" action="">
            <a href="/listoflocation/">see the most likely locations</a>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{location_form.phone_number.id_for_laber}}" class="form-label">Select You Phone number</label>
                {{location_form.phone_number}}
         
            </div>
            <div class="mb-3">
                <label for="{{location_form.city.id_for_laber}}" class="form-label">City/Your location now</label>
                {{location_form.city}}
         
            </div>
            <div class="mb-3">
                <label for="{{location_form.coordinates.id_for_laber}}" class="form-label">Google Map Coordinates</label>
                {{location_form.coordinates}}  
            </div>
            <div class="mb-3">
                <label for="{{location_form.owner.id_for_laber}}" class="form-label">Owner</label>
                {{location_form.owner}}  
            </div>
            <div>
                <a href="home/"><button type="submit" class="btn btn-primary">Send</button></a>
            </div>
        </form>
    </div>
    
</body>
</html>