<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add the latest Bootstrap JavaScript links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .box1{
        background-color: black;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        margin-bottom: 4%;
        padding: 2%;
    }
    
</style>
<body style="background-color: rgb(0, 0, 0);">
    <h1 style="font-size: 50px; color: aqua;">Nza<span style="color:  rgba(193, 206, 8, 0.747); font-size: 50px;">Del</span></h1>
    <div class="box1" id="box1">
        <h1 style="text-align: center; font-size: 40px; font-style:initial; color: rgba(70, 221, 10, 0.747) ; margin-bottom: 8%;"><b>WELCOME</b></h1>
            <p>
                <h2 style="text-align: center; font-size: 40px;"><b style="color: aqua;">You Order.</b> <b style="color: rgba(193, 206, 8, 0.747);">We Cook.</b> <b style="color:  rgba(193, 206, 8, 0.747);">We Deliver.</b> <b style="color: aqua;">You Enjoy the Meal!</b></h2>
            </p>
            <a href="login/"><button type="button" class="btn btn-warning" style="margin-left: 35%; margin-top: 7%; font-size: 35px;">GET STARTED</button></a>
    </div>
    
</body>
</html>